# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Multimedia local (la app lo usa si está presente, no se sube al repo)
*.mp4
*.mp3
*.wav
*.desktop

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
