# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Accesos directos de escritorio generados por la app
*.desktop

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
